# File extensions
*.bak
*.csv
*.dump
*.gz
*.log
*.tar
*.zip

# Exceptions
!template.csv.zip
!schema/prisma/schema/migrations/*.sql

# Directories and system files
.DS_Store
.env
.idea
.venv
venv
node_modules
 
schema/prisma/generated
schema/prisma/node_modules
schema/prisma/.env